files/schema/pedidos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pedido" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="numero-cliente"/>
              <xs:element type="xs:long" name="numero-pedido"/>
              <xs:element type="xs:date" name="fecha"/>
              <xs:element name="articulos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="articulo" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="codigo"/>
                          <xs:element type="xs:int" name="cantidad"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>